h1 {
  text-align: center;
  font-family: Helvetica;
}

* {
    box-sizing: border-box;
}

.row {
  width: 100%;
}


  p {
    padding: 5px 10px;
    font-family: Helvetica;
    clear: both;
  }



@media screen and (min-width: 992px) {
    .cL {
        float: left;
        border: 1px solid green;
        margin: 5px 10px;
        background-color: #B2BEB5;
        width: 32%;
        position: relative;
        overflow: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-2, .col-3 {
        border: 1px solid green;
        margin: 5px 10px;
        background-color: #B2BEB5;
        float: left;
        position: relative;
        overflow: auto;
    }
    .col-2 {

        width: 48%;
        height: auto;
    }
    .col-3 {

        clear: both;
        width: 97%;
        height: auto;
    }
}


@media (max-width: 767px) {
    .cS {
        border: 1px solid green;
        margin: 10px 20px;
        padding: 10px 20px;
        background-color: #B2BEB5;
        width: 100%;
        position: relative;
        overflow: auto;
    }
}

#h1{
    background-color: yellow;
    margin: 0;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
#h2{
    background-color: red;
    margin: 0;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
#h3{
    background-color: green;
    margin: 0;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: white;
}



h3 {

    float: right;
    padding: 5px 10px;
    margin-top: 0px;
    margin-right: 0px;
    border: 1px solid black;
    text-align: center;

  }
